<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SISTEMA WEB</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                Cadastrar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./consultar.handlebars">Consultar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container mt-4">
        <div class="row">
            {{#each posts}}
                {{#dataValues}}
                    <form action="" method="POST">
                        <p class="fs-5">Editar - Agendamento de Potenciais Clientes</p>
                        <p>Sistema Utilizado para agendamento de serviços.</p>
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input type="nome" class="form-control" id="nome" name="nome" value="{{nome}}" />
                        </div>
                        <div class="mb-3">
                            <label for="telefone" class="form-label">Telefone:</label>
                            <input type="text" class="form-control" id="telefone" name="telefone" value="{{telefone}}" />
                        </div>
                        <div class="mb-3 text-start">
                        <label class="form-label">Origem:</label>
                        <select name="origem" class="form-select" aria-label="Default select example">
                            <option value="celular" {{#if (eq origem "celular")}} selected {{/if}}>Celular</option>
                            <option value="whatsapp" {{#if (eq origem "whatsapp")}} selected {{/if}}>Whatsapp</option>
                            <option value="telefone_fixo" {{#if (eq origem "telefone_fixo")}} selected {{/if}}>Telefone Fixo</option>
                        </select>
                        </div>
                        <div class="mb-3">
                            <label for="dataContato" class="form-label">
                                Data do Contato:
                            </label>
                            <input type="date" class="form-control" id="dataContato" name="dataContato" value="{{data_contato}}" />
                        </div>
                        <div class="mb-3">
                            <label for="observacao" class="form-label">Observação: </label>
                            <textarea class="form-control" id="observacao" name="observacao" rows="3">{{observacao}}</textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                    </form>
                {{/dataValues}}
            {{/each}}
        </div>
    </div>
</div>